registry=https://npm.xena.rocks/
//npm.xena.rocks/:_password=N0J0MllOWlhzVWpFdWRWR0hBM2hnRzVI
//npm.xena.rocks/:username=gitlab
//npm.xena.rocks/:email=jan@expan.do
//npm.xena.rocks/:always-auth=false
